In [1]:
# Import library

import pandas as pd
import numpy as np
import pickle
import json

In [2]:
# Load all files
with open('list_num_cols.txt', 'r') as file_1:
  list_num_cols = json.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  scaler = pickle.load(file_2)
  
with open('model_pca.pkl', 'rb') as file_3:
  pca = pickle.load(file_3)

with open('model_kmeans.pkl', 'rb') as file_4:
  model_kmeans = pickle.load(file_4)

In [13]:
#Create new data

data_inf = pd.DataFrame({
    'Customer Id'         : [1,2,3,4],
    'Age'                 : [15,20,55,36],
    'Edu'                 : [3,5,1,4],
    'Years Employed'      : [2,3,20,10],
    'Income'              : [10,70,88,50],
    'Card Debt'           : [2,10,50,25],
    'Other Debt'          : [8,5,5,5],
    'Defaulted'           : [0,1,0,1],
    'DebtIncomeRatio'     : [6.5,20.5,50.5,15]
})

data_inf

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,DebtIncomeRatio
0,1,15,3,2,10,2,8,0,6.5
1,2,20,5,3,70,10,5,1,20.5
2,3,55,1,20,88,50,5,0,50.5
3,4,36,4,10,50,25,5,1,15.0

In [14]:
# Split between numerical columns and categorical columns

data_inf_num = data_inf[list_num_cols]

In [15]:
# Feature scaling

data_inf_num_scaled  = scaler.transform(data_inf_num)
data_inf_final = data_inf_num_scaled

In [16]:
# PCA

data_inf_num_pca  = pca.transform(data_inf_final)
data_inf_final_pca = data_inf_num_pca

In [17]:
# Predict using K-Means Clustering Model

prediction_cluster = pd.DataFrame(model_kmeans.predict(data_inf_final_pca))
prediction_cluster

   0
0  0
1  1
2  1
3  1